.class-name{
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	background: #ff0000;
	position: relative;
}
.back{
	position: absolute;
	left: 10px;
	top: 6px;
}
.search-list-containers{
	height: 100px;
	border-bottom: solid #dcdcdc 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.search-list-name{
	color: #000;
}