.pay-shop-container{
	width: 100%;
	height: 100px;
	overflow: hidden;
}
.pay-shop-img{
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 4px;
	margin: 10px 15px;
	background: #ccc;
	float: left;
}
.pay-shop-img img{
	width: 100%;
	height: 100%;
}
.pay-shop-info-container{
	width: 63%;
	float: left;
	margin-top: 10px;
	height: 90px;
	position: relative;
}
.pay-shop-name{
	width: 100%;
	height: 57px;
}
.pay-shop-price{
	width: 100%;
	height: 23px;
	color: #ff0000;
}
.pay-shop-sale{
	position: absolute;
	right: 0px;
	bottom: 11px;
	color: #999;
}
.pay-shop-action{
	width: 100%;
	height: 44px;
}
.pay-shop-num{
	float: left;
	margin-left: 15px;
	height: 44px;
	line-height: 44px;
	color: #333;
}
.pay-shop-action-container{
	float: right;
	margin-right: 15px;
	height: 44px;
}
.common-pay-shop{
	width: 28px;
	height: 28px;
	display: inline-block;
	border-radius: 28px;
	border: solid #ddd 1px;
	margin-top: 8px;
	margin-left: 10px;
	line-height: 26px;
	text-align: center;
}
.reduce{
	color: #999;
	font-size: 20px;
}
.shop-num{
	color: #999;
	font-size: 16px;
	width: 28px;
	height: 28px;
	display: inline-block;
	margin-top: 8px;
	margin-left: 10px;
	line-height: 28px;
	text-align: center;
}
.add{
	color: #ff0000;
	font-size: 20px;
}
.pay-type-container{
	width: 100%;
	height: 120px;
}
.pay-type-weixin{
	padding-left: 15px;
	padding-right: 15px;
	height: 60px;
	border-bottom: solid #ddd 1px;
	line-height: 60px;
	position: relative;
}
.pay-type-weixin img{
	width: 39px;
	margin-top: 10px;
}
.pay-type-name{
	margin-left: 10px;
	display: inline-block;
	height: 60px;
	line-height: 60px;
	position: absolute;
	color: #333;
}
.pay-type-state{
	float: right;
	width: 18px;
	height: 18px;
}
.pay-type-state img{
	width: 100%;
}
.pay-order{
	width: 100%;
}
.pay-order-title{
	height: 42px;
	line-height: 42px;
	font-weight: bold;
	border-bottom: solid #ddd 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.pay-order-list{
	padding-left: 15px;
	padding-right: 15px;
	height: 42px;
	line-height: 42px;
	border-bottom: solid #ddd 1px;
}
.pay-order-list-name{
	float: left;
	color: #666;
}
.pay-order-list-value{
	float: right;
	color: #666;
}
.red{
	color: #ff0000;
}
.pay-shop-bottom{
	width: 100%;
	text-indent: 15px;
	height: 46px;
	line-height: 46px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	background: #fff;
}
.jxx{
	width: 100%;
	height: 150px;
	background: #f6f3f3;
}
.pay-to-money{
	display: inline-block;
	float: right;
	width: 105px;
	height: 46px;
	background: #ff4946;
	color: #fff;
	text-align: center;
	line-height: 46px;
}