.search-header{
	width: 100%;
	height: 44px;
	background: #ff0000;
}
.search-container{
	width: 80%;
	height: 30px;
	margin: 0 auto;
}
#search-key{
	width: 100%;
	height: 30px;
	border: none;
	outline: none;
	text-indent: 10px;
	border-radius: 4px;
	margin-top: 7px;
	color: #999;
	font-size: 14px;
	letter-spacing: 1px;
}
.search-result-container{
	width: 100%;
	height: auto;
}
.search-list-container{
	width: 100%;
	height: 100px;
	border-bottom: solid #dcdcdc 1px;
	padding: 10px;
}
.search-list-left{
	float: left;
	width: 96px;
	height: 96px;
	overflow: hidden;
	border-radius: 8px;
}
.search-list-left img{
	width: 96px;
	height: 96px;
}
.search-list-right{
	float: left;
	margin-left: 10px;
}
.search-list-name{
	height: 40px;
}
.search-list-num{
	font-size: 13px;
	color: #999;
}
.search-list-price{
	font-size: 15px;
	color: red;
}