.shop-title{
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	background: #ff0000;
	font-size: 14px;
	position: relative;
}
.goods-detail{
	width: 100%;
}
.goods-name{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-indent: 15px;
}
.goods-info{
	width: 100%;
	height: 40px;
	border-bottom: solid #dcdcdc 1px;
}
.goods-info-price{
	float: left;
	margin-left: 15px;
	height: 40px;
	color: #ff0000;
	font-size: 14px;
}
.goods-info-sale-num{
	float: right;
	margin-right: 15px;
	height: 40px;
	letter-spacing: 1px;
	color: #999;
}
.fl{
	width: 100%;
	height: 42px;
	line-height: 42px;
	text-indent: 15px;
	color: #64d448;
	font-size: 12px;
}
.jx{
	width: 100%;
	height: 10px;
	background: #f6f3f3;
}
.buy-title{
	height: 42px;
	line-height: 42px;
	color: #333;
	font-weight: bold;
	font-size: 14px;
	padding-left: 15px;
	border-bottom: solid #dcdcdc 1px;
}
.buy-know{
	padding-left: 15px;
}
h2{
	padding-top: 10px;
	color: #ffa200;
	font-size: 13px;
	line-height: 21px;
}
pre{
	color: #666;
	font-size: 12px;
}
.pre{
	margin-bottom: 10px;
}
.shop-action-buy a{
	color: #fff;
}